/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
    background:url(/img/background.jpg) no-repeat fixed;
    max-width:fixed;
}
.na{
    margin-left: 25px;
}
.navbar-dark .navbar-nav .nav-link {
    margin-left: 5px;
    color:white;
    font-weight: 600;
}

.navbar-dark .navbar-nav .active{
    border-bottom:2px solid white;
}

.im{
    margin-left: 70px;
}
.navbar-dark .navbar-brand {
    color: black;
}

.navbar-brand {
    display: inline-block;
    margin-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right:72.5rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-brand a{
    font-weight: bold;
}
.navbar-brand span{
    color: #e0a800;
}

.navbar-toggler{
    background-color:  #3292a6;
    margin-left: 150px;
    margin-right: 10px;
}
  input{
    margin: 10px;
}
button{
    margin-right: 50px;
    padding-left: 20px !important; 
    padding-right: 20px !important;
}

.delete_btn{
    color: #c82333;
}

.edit_btn{
    color: #e0a800;
}

span[onclick]{
    cursor: pointer;
}

.text-center {
    text-align: center!important;
    margin-top: 100px;
}
/* .justify-content-center {
    text-align: center
} */


